
body {
  background: rgb(216,232,250);
  background: radial-gradient(circle, rgba(216,232,250,1) 0%, rgba(189,213,255,1) 38%, rgba(249,254,255,1) 100%);
  }

h1 { 
  text-align: center;
  color: #38578c;      
  font-size: 100px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;      
}

h2 { 
  text-align: center;
  color: #38578c; 
  font-size: 50px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: #38578c;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: #38578c;
   font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px
  }

  

  
